/* Import font */
@font-face {
  font-family: worksans;
  src: url(./WorkSans-Medium.ttf);
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
body:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  background-image: url(./backgroung.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
  font-family: worksans;
}

main {
  width: 28rem;
  height: 35rem;
  background-image: linear-gradient(
    to bottom,
    #7779f7,
    #806df6,
    #8b5ff3,
    #984eef,
    #a538e8
  );
  border-radius: 0.8rem;
}
.avatar {
  text-align: center;
  margin-top: 2rem;
}
.avatar img {
  width: 6rem;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.5rem;
}
.login-text {
  text-align: center;
  margin-top: 1rem;
}
.login-text h1 {
  color: white;
}
.username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  width: 20rem;
  margin: 2rem auto 0 auto;
  padding-bottom: 0.3rem;
}
.username input {
  color: white;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0;
}
.username input::placeholder {
  color: white;
}
.password {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.5);
  width: 20rem;
  margin: 2rem auto 0 auto;
  padding-bottom: 0.3rem;
}
.password input {
  color: white;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: 1.5rem;
  margin-left: 0.5rem;
  padding: 0;
}
.password input::placeholder {
  color: white;
}
.rememberMe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20rem;
  margin: 2rem auto 0 auto;
  font-size: 0.8rem;
}
.rememberMe input {
  color: white;
  transform: scale(1.3);
  border: none;
}
.rememberMe label {
  margin-left: 0.3rem;
  color: white;
}
.login-button {
  margin-top: 2rem;
  text-align: center;
}
.login-button input {
  width: 7rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 2rem;
}
