/* Import fonts */
@font-face {
  font-family: websans;
  src: url(./assets/WorkSans-Medium.ttf);
}
/* Reset page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #518885,
    #558b89,
    #598e8c,
    #5e9190,
    #629493,
    #659695,
    #679897,
    #6a9a99,
    #6c9b9a,
    #6e9d9b,
    #6f9e9c,
    #719f9d
  );
}
* {
  box-sizing: border-box;
  font-family: websans;
}
main {
  width: 65rem;
  height: 45rem;
  display: flex;
  background-color: #518885;
  position: relative;
  border-radius: 0.3rem;
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.5);
}
.leftSide {
  width: 50%;
  height: 100%;
  background-color: #1a505a;
  position: relative;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.leftSide img {
  position: absolute;
  width: 23rem;
  height: 28rem;
  left: 2rem;
  /* filter: drop-shadow(-15rem 0 10rem rgba(252, 227, 109, 0.3)); */
}
.shadow {
  position: absolute;
  width: 25rem;
  height: 30rem;
  background-color: rgb(252, 227, 109);
  opacity: 1;
  filter: blur(50rem);
  left: -5rem;
  clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
}
.rightSide {
  width: 60%;
  height: 100%;
  background-color: #feba33;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  position: absolute;
  right: 0;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
/* Right side items */
.form {
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 21rem;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 1px 3px 47px 5px rgba(0, 0, 0, 0.3);
}
.haveAcc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 4rem;
  box-shadow: 0px 14px 17px -5px rgba(0, 0, 0, 0.09);
}
.haveAcc h1 {
  color: rgba(254, 186, 51, 0.7);
}
.haveAcc a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font-size: small;
}
.username {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 2rem auto;
  width: 90%;
  height: 2.5rem;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.13);
}
.username input {
  border: 0.1rem solid rgba(0, 0, 0, 0.08);
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  font-size: large;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.03);
  color: #1a535b;
}
.username input:focus {
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.username input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
  color: rgba(26, 83, 91, 0.7);
}
.password {
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
  position: relative;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.03);
  height: 2.5rem;
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.13);
}
.password input {
  color: #1a535b;
  background-color: transparent;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: large;
  margin: 0;
}
.password input:focus {
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.password input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: small;
  color: rgba(26, 83, 91, 0.7);
}
.password img {
  width: 1.5rem;
  position: absolute;
  right: 0.5rem;
}
.login-button {
  width: 90%;
  height: 3.5rem;
  margin: 2.9rem auto;
  box-shadow: 0px 0px 12px -8px rgba(0, 0, 0, 0.13);
}
.login-button input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: white;
  background-color: #1a535b;
  font-size: large;
  border-radius: 0.2rem;
  cursor: pointer;
}
.notHaveAcc {
  width: 100%;
  text-align: center;
  margin: 2rem auto 0;
}
.notHaveAcc h4 {
  color: white;
  text-shadow: 0px 2px 4px rgba(150, 150, 150, 1);
  text-decoration: none;
}
.createAcc {
  width: 100%;
  text-align: center;
}
.createAcc a {
  color: #1a535b;
  text-decoration: none;
}
