/* Import font */
@font-face {
  font-family: worksans;
  src: url(./WorkSans-Medium.ttf);
}
/* reset form */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #eceef0;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  font-family: worksans;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
main {
  width: 40rem;
  height: 30rem;
  background-color: white;
  border-radius: 1rem;
}
.header {
  margin: 0;
  padding: 0;
  height: 8rem;
  width: 100%;
  background-image: url(./background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  filter: contrast(50%);
}
h3 {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 47.5%;
  color: white;
  font-size: 2rem;
}
.username {
  width: 60%;
  height: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  color: rgba(0, 0, 0, 0.5);
}
.username input {
  border: none;
  border-bottom: 0.15rem solid #eceef0;
  outline: none;
  margin-left: 1rem;
  width: 100%;
  height: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.username input ::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
.password {
  width: 60%;
  height: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 3rem;
  color: rgba(0, 0, 0, 0.5);
}
.password input {
  border: none;
  border-bottom: 0.15rem solid #eceef0;
  outline: none;
  margin-left: 1rem;
  width: 100%;
  height: 2rem;
  color: rgba(0, 0, 0, 0.5);
}
.captions {
  width: 60%;
  height: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}
.rememberMe {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.forgotPass {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.forgotPass a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}
.button {
  width: 60%;
  margin: auto;
  margin-top: 2rem;
}
.button input {
  color: white;
  background-color: #6fb554;
  width: 9rem;
  height: 3rem;
  margin-left: 5rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
}
