/* Import fonts */
@font-face {
  font-family: GGX88;
  src: url(./WorkSans-Medium.ttf);
}
/* Reset page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  font-family: GGX88;
}
main {
  width: 20rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.welcome-text {
  height: auto;
  text-align: center;
  margin-bottom: 1rem;
}
.welcome-text p {
  font-size: 2rem;
}
.avatar-img {
  margin-bottom: 2rem;
  width: auto;
  text-align: center;
}
.avatar-img img {
  height: auto;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
.username-input input {
  width: 100%;
  outline: none;
  border: none;
  height: 2rem;
  border-bottom: 0.15rem solid #ccc;
}
.username-input {
  margin-bottom: 2rem;
}
.password-input input {
  width: 100%;
  outline: none;
  border: none;
  height: 2rem;
  border-bottom: 0.15rem solid #ccc;
}
.login-button input {
  border-radius: 2rem;
  color: white;
  background-color: green;
  width: 100%;
  height: 2.5rem;
  border: none;
  outline: none;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 23px 2px rgba(0, 0, 0, 0.26);
}
.captions {
  display: flex;
  align-items: flex-end;
  height: 100%;
  opacity: 0.5;
}
.captions ul li {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.captions ul {
  margin: 0;
}
