/* Import fonts */
@font-face {
  font-family: GGX88;
  src: url(./GGX88.woff);
}
/* Reset page */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
  font-family: GGX88;
}
main {
  width: 30rem;
  height: 40rem;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.welcome-text {
  height: auto;
  text-align: center;
}
.welcome-text p {
  font-size: 2rem;
}
.avatar-img {
  width: auto;
  text-align: center;
}
.avatar-img img {
  height: auto;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}
